<nav class="navbar navbar-expand-sm navbar-light bg-info" data-test="navbar">
  <div class="container">
    <a class="navbar-brand" data-test="navbar-brand" routerLink="/home">Home</a>
    <ul class="navbar-nav">
      <!-- users -->
      <li class="nav-item">
        <a class="nav-link" data-test="users-link" routerLink="/users">Users</a>
      </li>
      <!-- posts -->
      <li class="nav-item">
        <a class="nav-link" data-test="posts-link" routerLink="/posts">Posts</a>
      </li>
    </ul>
  </div>
</nav>
