<h2>Select a user</h2>
<input id="completedInput" type="checkbox" [(ngModel)]="completedFilter" />
<label for="completedInput">Completed</label>
<hr/>
<select (change)="onSelectedUser($event)" name="" id="">
  <option disabled selected value> Select a user </option>
  <option *ngFor="let user of users$ | async" [value]="user.id">
    {{ user.name }}
  </option>
</select>

<h2>User Id Modify</h2>
{{ userIdModify$ | async }}

<h2>Todos</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Completed</th>
  </tr>
  <tr *ngFor="let todo of filteredTodos$ | async">
    <td>{{ todo.id }}</td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.completed ? "🟢" : "🟡" }}</td>
  </tr>
</table>

<!-- <h2>Posts</h2>
<ul>
  <li *ngFor="let post of postsByUserId$ | async">
    {{ post.title }}
  </li>
</ul> -->