<!-- create new user form -->

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Id</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Enter name"
      formControlName="id"
      data-test="id-input"
    />
  </div>
  <div class="form-group">
    <label for="name">Username</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Enter name"
      formControlName="username"
      data-test="username-input"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter email"
      formControlName="email"
      data-test="email-input"
    />
  </div>
  <button type="submit" class="btn btn-primary" data-test="submit-button">
    Submit
  </button>
</form>
